<h2>Team</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                <img src="~/img/c1.jpeg" />

            </td>
            <td>
                <h3>Chinmayi Karmalkar</h3>Chinmayi started pursuing her Masters at USF in Fall 2018. She is currently working at TECO Energy and considers Business Analytics as her dream job.

            </td>
        </tr>
        <tr>
            <td>

                <img src="~/img/sachin.jpg" />

            </td>
            <td>

                <h3>Sachin Pratap Singh</h3>Sachin has worked as an entrepreneur for almost 6 years in Ecommerce and bio-diesel companies after accomplishing Bachelor of engineering  from Jabalpur engineering college. Currently he is pursuing his master’s in business analytics information system from USF

            </td>
        </tr>
    <td>
        <img src="~/img/shishuraj.jpg" />
    </td>
    <td>
        <h3>Shishuraj Karmalkar</h3>Shishuraj started pursuing his Masters in Business Analytics and Information Systems at USF in Fall 2019.
    </td>
    </tr>

    </tbody>
</table>
