
@{
    ViewData["Title"] = "AboutUs";
}


@section Styles {
    <link href="@Url.Content("~/Styles/StyleSheet.css")" rel="stylesheet" type="text/css" />
}

<h1>AboutUs</h1>



<h1>Team Description</h1>
<table>
    <tr>
        <td><img class="dp" src="c1.jpeg"></td>
        <td>
            <h3>Chinmayi Karmalkar</h3>Chinmayi started pursuing her Masters at USF in Fall 2018. She is currently working at TECO Energy and considers Business Analytics as her dream job.

        </td>
    </tr>
    <tr>
        <td><img class="dp" src="sachin.jpg"></td>
        <td><h3>Sachin Pratap Singh</h3>Sachin has worked as an entrepreneur for almost 6 years in Ecommerce and bio-diesel companies after accomplishing Bachelor of engineering  from Jabalpur engineering college. Currently he is pursuing his master’s in business analytics information system from USF</td>
    </tr>
    <tr>
        <td><img class="dp" src="shishuraj.jpg"></td>
        <td><h3>Shishuraj Karmalkar</h3>Shishuraj started pursuing his Masters in Business Analytics and Information Systems at USF in Fall 2019</td>
    </tr>


</table>
<h1>Logical Diagram</h1>
<img id="ld" src="chart.jpeg">