@{
    ViewData["Title"] = "Index";
}

<h2>Agricultural details</h2>
<hr />

<div>
    <p>

        <br />This  request returns income statements for years 2015 and 2016 of commercial farms across all States.
        <br />
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Parks">Income statement</a>
        <br />
        <br />
        <br />This request returns the category information.
        <br />
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Category">Category</a>
        <br />
        <br />
        <br /> Following link provides the information about different variables of the api data_base.
        <br />
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Variable">Variable</a>
        <br />
        <br />
        </p>

   
</div>